$radius: 10px;

.card {
  border: 2px solid #0b5ed7;
  border-radius: $radius;
  letter-spacing: 0.05em;
}
.img {
  border-radius: $radius $radius 50px 50px;
}
.badge {
  top: 10px;
  right: 20px;
  font-size: 17px;
}

.title-name {
  font-family: "Roboto", sans-serif;
}
.font-text {
  font-family: "Source Sans Pro", sans-serif;
}
